* {
    font-family: 'Times New Roman';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(51, 51, 51);
}

li {
    float: left;
}

li a {
    display: block;
    color: Turquoise;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: greenyellow;
}

.logo {
    width: 100%;
    padding: 0px;
    color: gold;
    background-color: none;
    text-align: center;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
}

.box {
    width: 60%;
}

.deck-list {
    background-color: aliceblue;
}

/* back ground */
body {
    background: linear-gradient(-45deg, #A29BFE, #23a6d5, #04619F, #130F40);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
