<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Học</title>
    <link rel="stylesheet" th:href="@{/css/flashcard.css}">
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <script th:src="@{/js/script.js}"></script>
</head>
<body>
    <!-- Header -->
    <div class="logo">
        Flash Card On Web
    </div>
    <ul>
        <li><a th:href="@{/home}">Trang chủ</a></li>
        <li><a th:href="@{/profile}">Thông tin cá nhân</a></li>
        <li><a th:href="@{/report}">Báo cáo học tập</a></li>
        <li><a th:href="@{/addDeck}">Thêm bộ thẻ</a></li>
        <li><a th:href="@{/addCard}">Thêm thẻ</a></li>
        <li style="float: right;"><a th:href="@{/logout}">Đăng xuất</a></li>
    </ul>

    <!-- Card -->
    <div class="card">
        <div class="flip-card-3D-wrapper">
            <div id="flip-card">
                <div class="flip-card-front">
                    <p th:text="${font}">Front content</p>
                    <button id="flip-card-btn-turn-to-back">Lật</button>
                </div>
                <div class="flip-card-back">
                    <p th:text="${back}">Back content</p>
                    <button id="flip-card-btn-turn-to-front">Lật</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Answer -->
    <form method="post">
        <div class="answer">
            <button class="button1" th:formaction="@{/answer/1}"> Học lại </button>
            <button class="button2" th:formaction="@{/answer/2}"> Khó </button>
            <button class="button3" th:formaction="@{/answer/3}"> Được </button>
            <button class="button4" th:formaction="@{/answer/4}"> Tốt </button>
        </div>
    </form>
</body>
</html>