<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm thẻ mới</title>
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
    <!-- Navigation -->
    <div th:replace="~{fragments/navigation :: nav}"></div>
    
    <form th:action="@{/addCard}" th:object="${cardCreationDTO}" method="POST">
        <label for="deckID">Chọn bộ thẻ</label>
        <select th:field="*{deckID}" id="deckID">
            <option th:each="option : ${listOption}" 
                    th:value="${option.key}" 
                    th:text="${option.value}">Deck Name</option>
        </select>
        
        <label for="fontContent">Nội dung mặt trước</label>
        <textarea th:field="*{fontContent}" placeholder="Hello" id="fontContent"></textarea>
        
        <label for="backContent">Nội dung mặt sau</label>
        <textarea th:field="*{backContent}" placeholder="Xin chào!" id="backContent"></textarea>
        
        <div style="color: red;" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}">Error message</div>
        </div>
        
        <button type="submit">Tạo</button>
    </form>
</body>
</html>