<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm bộ thẻ mới</title>
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
    <!-- Navigation -->
    <div th:replace="~{fragments/navigation :: nav}"></div>
    
    <form th:action="@{/addDeck}" th:object="${deckCreationDTO}" method="POST">
        <label for="deckName">Tên bộ thẻ</label>
        <input type="text" placeholder="Tên bộ thẻ" th:field="*{deckName}" size="20" id="deckName"/>
        <div style="color: red;" th:if="${#fields.hasErrors('deckName')}" th:errors="*{deckName}"></div>
        <button type="submit">Tạo</button>
    </form>
</body>
</html>