<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form th:action="@{/register}" th:object="${userRegistrationDTO}" method="POST">
        <h3>Register</h3>
        <p th:text="${mess}" th:if="${mess}"></p>
        
        <label for="loginID">Username</label>
        <input type="text" placeholder="Username" th:field="*{loginID}" size="10" id="loginID"/>
        
        <label for="pw">Password</label>
        <input type="password" placeholder="Password" th:field="*{password}" size="20" id="pw"/>
        
        <label for="name">Tên</label>
        <input type="text" placeholder="Tên" th:field="*{name}" size="20" id="name"/>
        
        <label for="age">Tuổi</label>
        <input type="text" placeholder="Tuổi" th:field="*{age}" size="20" id="age"/>
        
        <label for="mail">E-mail</label>
        <input type="text" placeholder="mail" th:field="*{email}" size="30" id="mail"/>
        
        <button type="submit">Đăng ký</button>
        <div class="social">
            <a th:href="@{/login}"><div class="back-to-login"> Quay lại đăng nhập</div></a>
        </div>
    </form>
</body>
</html>